@font-face {
  font-family: 'iconfont';  /* Project id 2609318 */
  src: url('//at.alicdn.com/t/font_2609318_wd1079taio.woff2?t=1623680708574') format('woff2'),
       url('//at.alicdn.com/t/font_2609318_wd1079taio.woff?t=1623680708574') format('woff'),
       url('//at.alicdn.com/t/font_2609318_wd1079taio.ttf?t=1623680708574') format('truetype');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
