@charset "utf-8";
.top{
	/* background:url(http://tiantong.ecnu.edu.cn/CN/images/top_bj.jpg) no-repeat;  */
	/* background-color: rgba(58, 104, 231, 0.2); */
height:101px;}
.top .title{
	display: flex;
	position: absolute;
}
.top .title .chinese{
	font-size: 28px;
	letter-spacing: 4px;
	font-weight: bold;
	color: #013fb3;
	padding-top: 20px;

}
.top .title .english{
	font-size: 16px;
}
.top .title .logo{
	padding-top: 10px;
	width: 90px;
	height: 92px;
}
.news tr td:nth-of-type(2) a{
	display: block;
    width: 400px;
	overflow: hidden;
	white-space: nowrap;
  	text-overflow: ellipsis; 
}
.kydt_nr table tr td:nth-of-type(2) a{
    display: block;
    width: 300px;
	overflow: hidden;
	white-space: nowrap;
  	text-overflow: ellipsis; 
}
.yuanhui{
	width: 64px;
	height: 64px;
}
/*友情链接主要样式*/
.subNavBox{width:200px;background-color:#013fb3;}
.subNav{ position:relative; cursor:pointer;font-weight:bold;font-size:14px;color:#fff;line-height:28px;padding-left:10px;
}
.subNav:hover{color:#fff000;}
.currentDd{color:#fff;}
.navContent{position: absolute; margin-top:-168px; display: block;background-color:#013fb3;}
.navContent li a{display:block;width:200px;height:28px;text-align:center;font-size:12px;line-height:28px;color:#fff;}
.navContent li a:hover{color:#fff;background-color:#00a5e7}