.pageList{
    display: flex;
    width: 200px;
    margin: 10px auto 0 auto;
}
.pageList a{
    flex:1;
    display: inline-block;
    text-align: center;
    color: rgb(32, 112, 187);
    padding: 0 10px;
    border: 1px solid gray;
}