@font-face {
  font-family: 'iconfont';  /* Project id 2578520 */
  src: url('//at.alicdn.com/t/font_2578520_tdtgryhi1hk.woff2?t=1622874193392') format('woff2'),
       url('//at.alicdn.com/t/font_2578520_tdtgryhi1hk.woff?t=1622874193392') format('woff'),
       url('//at.alicdn.com/t/font_2578520_tdtgryhi1hk.ttf?t=1622874193392') format('truetype');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
